/* app css stylesheet */

.done_button{
 float: right;
}
.show_text{
 float: right; margin:5px auto;
}
.box5,.box4,.box3,.box2,.box1{  border: 1px solid; }
.box5{background-color: #fff;height:250px;z-index:1;width: 500px;left:15px;top:15px;}
.box4{background-color: #fff;height:225px;z-index:2;width: 450px;left:15px;top:15px;position: absolute;}
.box3{background-color: #fff;height:200px;z-index:3;width: 400px;left:15px;top:15px;position: absolute;}
.box2{background-color: #fff;height:175px;z-index:4;width: 350px;left:15px;top:15px;position: absolute;}
.box1{background-color: #fff;height:150px;z-index:5;width: 300px;left:15px;top:15px;position: absolute;}