<div ng-init="mails1=LoadFile(Filename)" >
  <div ng-class="applyClass($index)" ng-repeat="i in getNumber(5) track by $index">
      {{showNumberForBox(count+$index)}}<br>
      <button ng-click="counter=Increment()" class="done_button">DONE</button>
          {{showIdForBox(count+$index+1)}}
            {{showTextForBox(counter+$index+1)}}
  </div>
</div>        