<div ng-class="applyClass($index)">
	{{showNumberForBox(count+$index+1)}}<br>
	<button ng-click="count=increment()" class="done_button">DONE</button>
	{{showIdForBox(count+$index+1)}}<br>
	{{showTextForBox(count+$index+1)}}
</div>

