<div ng-controller="MailAppCtrl as mlc" ng-init="mailsList=mlc.LoadFile('mails.json')"> 
	<ul ng-repeat="mails in mailsList">						  
  	<li><a href="#/mails/{{mails.name}}">{{mails.name}}</a><br></li>
</div>