<!doctype html>
<html lang="en" ng-app="mailApp">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="js/controllers.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/services.js"></script>
  <script src="js/app.js"></script>
  <script src="js/directives.js"></script>
</head>
<body >
  <div ng-view></div> <br>
<div ng-controller="MailCtrl as mail" ng-init= "mailsList=LoadFile('mails.json')" > 
  <ul ng-repeat="mail in mailsList">
     <br>           
    <li>{{mail.name}}
      <widget-generator> </widget-generator><br></li>
  </ul> 
</div>          

<br>
</body>
</html>