<!doctype html>
<html lang="en" ng-app="mailApp">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="js/controllers.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/services.js"></script>
  <script src="js/app.js"></script>
</head>
<body ng-controller="MailAppCtrl" as mac>
<div ng-init="mails1=LoadFile('mails1')" ng-style="{'width':width,'height':height}">
  
  <div  ng-style="{'width':width,'height':height}" ng-init="">
     mails1[mac.count].number<br>
     
     <div  ng-style="{'width':width,'height':height}" ng-init="">
       mails1[mac.count].number<br>
        
        <div  ng-style="{'width':width,'height':height}" ng-init="" >
          mails1[mac.count].number<br>      
            
            <div  ng-style="{'width':width,'height':height}" ng-init="">
              mails1[mac.count].number<br>
            </div>        
        
        </div>  
     </div> 
  </div>   
</div>
<!--
<div ng-init="mails2=LoadFile('mails2')">
   <ul ng-model="mac.list2">
      {{mails2[mac.count1].number}}<br>
      {{mails2[mac.count1].id}}<br>
      <p>{{mails2[mac.count1].text}}</p>
      <button ng-model="button1" ng-click="mac.count1=mac.count1+1" ng-show="mails2!=''">DONE</button>
  </ul>
</div>
-->

</body>
</html>
